NetWrapper/Debug/.NETFramework,Version=v4.5.1.AssemblyAttributes.obj
NetWrapper/Debug/AssemblyInfo.obj
NetWrapper/Debug/BitmapFormat.obj
NetWrapper/Debug/vc120.pdb
*.ipch
*.tlog
*.obj
*.pdb
*.pdb
*.cache
LoadOnDemand/obj/Release/LoadOnDemand.dll
LoadOnDemand/obj/Release/LoadOnDemand.csproj.FileListAbsolute.txt
*.user
LoadOnDemand/obj/Debug/LoadOnDemand.dll
LoadOnDemand/obj/Debug/LoadOnDemand.csproj.FileListAbsolute.txt
NetWrapper/Debug/app.res
NetWrapper/Debug/NetWrapper.pch
NetWrapper/Debug/NetWrapper.log
NetWrapper/Release/app.res
NetWrapper/Release/NetWrapper.pch
NetWrapper/Release/NetWrapper.log
*.opensdf
*.suo
*.sdf
*.etl
*.vsp
*.psess
*.psess
*.log
*.vspx
LoadOnDemand/EmbededResources/NetWrapper.dll.metagen
LoadOnDemand/EmbededResources/NetWrapper.exp
LoadOnDemand/EmbededResources/NetWrapper.lib
LoadOnDemand/EmbededResources/NetWrapper.pdb
LoadOnDemand/EmbededResources/NetWrapper.exp
LoadOnDemand/EmbededResources/NetWrapper.dll.metagen
LoadOnDemand/EmbededResources/NetWrapper.dll.metagen